# This needs to sync with llmcode/help_pats.py

global-exclude .DS_Store

recursive-exclude docs/site/examples *
recursive-exclude docs/site/_posts *

exclude docs/site/HISTORY.md
exclude docs/site/docs/benchmarks*.md
exclude docs/site/docs/ctags.md
exclude docs/site/docs/unified-diffs.md

exclude docs/site/install.ps1
exclude docs/site/install.sh

recursive-exclude docs/site/docs/leaderboards *
recursive-exclude docs/site/assets *
recursive-exclude docs/site *.js
recursive-exclude docs/site *.html
recursive-exclude docs/site *.yml
